.home {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

@media (width <= 640px) {
  .home {
    width: 90% !important;
    flex-direction: column-reverse;
    margin: 0 auto;
    min-height: 85vh !important;
  }

  .home__description {
    text-align: center;
    padding: 1.5rem;
  }

  .home__description-title {
    font-size: 1rem !important;
  }

  .home__description-subtitle {
    font-size: 2rem !important;
  }

  .home__profile {
    padding: 1.5rem;
  }
}